/out/
/.idea/
/Ausarbeitung..bbl
/Ausarbeitung..blg
/Ausarbeitung.aux
/Ausarbeitung.aux.bbl
/Ausarbeitung.aux.blg
/Ausarbeitung.bbl
/Ausarbeitung.blg
/Ausarbeitung.lof
/Ausarbeitung.log
/Ausarbeitung.out
/Ausarbeitung.synctex.gz
/Ausarbeitung.tex.bbl
/Ausarbeitung.tex.blg
/Ausarbeitung.thm
/Ausarbeitung.toc
/Literaturdatenbank.bib.bak
